.hotel-image-container {
  padding: 1rem;
  height: 35rem;
}

.primary-image-container {
  height: 100%;
}

.hotel-img {
  transition: transform 0.3s;
}

.hotel-img:hover {
  transform: scale(1.05);
}

.primary-img {
  transition: transform 0.3s;
}

.primary-img:hover {
  transform: scale(1.05);
}
